:root {
  --light-theme: white;
  --dark-theme: #022c37;
  --text-color: rgb(35, 34, 34);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.home-container {
  margin-top: 4rem;
  /* background-color: rgb(236, 234, 234); */
  background-color: var(--light-theme);
}
.profile {
  display: flex;
  flex-direction: row;
}
.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text > :nth-child(1) {
  font-size: 290%;
  font-weight: bolder;
  color: #0ba3c9;
}
.text > :nth-child(2) {
  font-size: 200%;
  font-weight: bold;
  color: grey;
}




.photo {
  flex: 1 1;
  margin: 2rem 10rem 0rem 10rem;
  background-color: #0ba3c9;
  border-radius: 50%;
  width: 51.5%;
}
.photo > img {
  width: 102%;
    height: 101%;
    border-radius: 50%;
}
@media screen and (max-width:950px) {
  .photo {
    margin: 2rem 5rem 0rem 5rem;
}
.text > :nth-child(1) {
  font-size: 250%;
}
.text > :nth-child(2) {
  font-size: 150%;
}
}

.technologies {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.technologies > h1,
.project > h1,
.blogs > h1 {
  font-size: 250%;
  color: #0ba3c9;
  text-align: center;
}
.technology-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem auto 3rem auto;
  gap: 1rem 0rem;
    text-align: center;
}
.technology-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12rem;
  background-color: var(--light-theme);
  border-radius: 1rem;
  gap: 2px;
  margin: 1rem 0 1rem 0;
}

.technology-card > :nth-child(3) {
  color: grey;
  font-size: larger;
}
.technology-card > h1,
.text-container > h1,
.text-container > h1 {
  color: #0ba3c9;
  font-size: 200%;
}
.technology-card > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px solid #0ba3c9;
  object-fit: contain;
}
.technology-card > img:hover {
  border: 15px solid #80a3ac;
}
.project {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-child {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.project-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 22rem;
  background-color: var(--light-theme);
  border-radius: 2rem;
  padding-bottom: 15px;
  margin: 2rem;
  box-shadow: 1px 2px 10px grey;
}
.resume-btn {
  border: 2px solid #0ba3c9;
  background-color: #0ba3c9;
  padding: 1rem;
  border-radius: 30px;
  margin-top: 1rem;
  box-shadow: 1px 1px 5px #0ba3c9;
  font-size: 130%;
}
.resume-btn > a {
  text-decoration: none;
  color: white;
}
.resume-btn > a>svg {
  color: white;
}
.resume-btn:hover {
  box-shadow: 1px 1px 5px #022c37;
}
@media screen and (max-width:780px) {
  .text > :nth-child(1) {
    font-size: 180%;
  }
  .text > :nth-child(2) {
    font-size: 100%;
  }
  .resume-btn {
    border: 2px solid #0ba3c9;
    background-color: #0ba3c9;
    padding: 10px;
    border-radius: 30px;
    margin-top: 1rem;
    box-shadow: 1px 1px 5px #0ba3c9;
    font-size: 100%;
  }
}
.project-card:hover,
.blogs-card:hover {
  box-shadow: 2px 3px 20px grey;
}
.text-container {
  margin: 10px 0.8rem;
  display: flex;
  gap: 18px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 12rem;
}
.project-tag{
  display: flex;
  flex-direction: column;
}
.project-tag p{
  color: grey;
  font-size: 70%;
}
.project-tech{
  color: var(--text-color);
  font-size: 110%;
}
.text-container :nth-child(3) {
  font-size: x-large;
  color: var(--text-color);
  text-align: center;
}
.text-container :nth-child(4) {
  color: var(--text-color);
  text-align: justify;
}
.text-container h2 {
  color: #0ba3c9;
}
.project-card > img {
  height: 400px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  object-fit: contain;
}
.blogs-card > img {
  height: 300px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  object-fit: contain;
}
.project-btn-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 1rem;
}
.project-btn-container > div > svg,
.project-btn-container > a > svg {
  width: 40px;
  color: #0ba3c9;
  height: 40px;
  border-radius: 10px;
  padding: 6px;
  box-shadow: 1px 2px 10px grey;
}
.blog-btns-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.blog-btns-container > div > svg {
  color: #0ba3c9;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  padding: 6px;
  box-shadow: 1px 2px 10px grey;
}
.blog-btn {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 2px 10px grey;
}
.blog-btn > svg {
  width: 40px;
  color: #0ba3c9;
  height: 40px;
}
.blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.date-created {
  font-size: small;
  color: var(--text-color);
}
.blogs-child {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.blogs-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  width: 22rem;
  background-color: var(--light-theme);
  border-radius: 2rem;
  min-height: 40rem;
  margin: 2rem;
  box-shadow: 1px 2px 10px grey;
}
.blog-link{
  text-decoration: none;
  color: var(--text-color);
}

@media (max-width: 630px) and (min-width:450px) {
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .text > :nth-child(1) {
    font-size: 190%;
  }
  .text > :nth-child(2) {
    font-size: 100%;
  }
  .photo > img {
    width: 300px;
    height: 100%;
  }
  .photo {
    box-sizing: border-box;
    width: 294px;
  }
  .technology-card {
    width: 7rem;
    margin: 5px;
    padding: 0.2rem;
    background-color: var(--light-theme);
    border-radius: 0.8rem;
    gap: 0.3rem;
}
.technology-card > :nth-child(3) {
  text-align: center;
  font-size: small;
}
  .technology-card > img {
    width: 100px;
    height: 100px;
  }
  
.technology-card > h1{
  font-size: 130%;
}
.text-container > h1{
  font-size: 130%;
}
.project-child {
  margin: 2rem 0 2rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.project-card {
  width: 9rem;
  margin: 1rem 0.4rem;
  border-radius: 1rem;
}
.project-card > img {
  height: 125px;
}
.text-container{
margin: 19px 4px 5px 5px;
gap: 8px;
min-height: 8rem;
}
.date-created {
font-size: x-small;
}
.text-container :nth-child(3) {
font-size: large;
}
.text-container :nth-child(4) {
  text-align: justify;
  font-size: 66%;
}
.project-btn-container {
gap: 0.6rem;
}
.project-btn-container > div > svg, .project-btn-container > a > svg {
width: 25px;
height: 27px;
padding: 3px;
border-radius: 5px;
}
.project {
margin: 3rem 0px;
display: flex;
flex-direction: column;
align-items: center;
}
.blogs-child {
  margin: 2rem 0.1rem 2rem 0.1rem;
  gap: 10px;
}
.blogs-card {
  width: 9rem;
  height: fit-content;
  margin: 0 0 0.5rem 0;
  padding-bottom: 1rem;
  gap: 0rem;
  border-radius: 2rem;
  min-height: 26rem;
}
.blogs-card > img {
  height: 150px;
  padding: 10px;
}
.blog-btn {    
  font-size: 10px;
  color: white;
  background-color: #0ba3c9;
  padding: 3px;
  align-items: center;
  justify-content: center;
  width: 40px;
}
.blog-btns-container > div > svg {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  padding: 3px;
}
.blog-btns-container {
  gap: 10px;
}
}
@media (max-width:450px) {
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .text > :nth-child(1) {
    font-size: 175%;
  }
  .text > :nth-child(2) {
    font-size: 100%;
  }
  .photo > img {
    width: 190px;
  }
  .photo {
    width: 186px;
  }
  .resume-btn {
    padding: 10px;
    border-radius: 22px;
    margin-top: 1rem;
    box-shadow: 0px 0px 9px grey;
    font-size: 100%;
  }
  .technology-child {
    margin: 2rem 0 3rem 0;
    gap: 1rem 0.2rem;
}
  .technology-card {
    width: 4rem;
    margin: 7px;
    padding: 4px;
    gap: 2px;
}
.technology-card > img {
  width: 60px;
  height: 60px;
  border: 3px solid #0ba3c9;
}
.technology-card > img:hover {
  border: 5px solid #03738f;
}
.technology-card > h1 {
  font-size: 100%;
}
.technology-card > :nth-child(3) {
  font-size: x-small;
}
.project {
  margin: 3rem 0px;
}
.technologies > h1, .project > h1, .blogs > h1 {
  font-size: 170%;
}
.project-card {
  width: 7rem;
  border-radius: 1rem;
  margin: 1rem 4px;
}
.text-container{
  gap: 10px;
  min-height: 9rem;
}
.technology-card > h1, .text-container > h1, .text-container > h1 {
  font-size: 90%;
}
.date-created {
  font-size: xx-small;
}
.project-tag p {
  font-size: 55%;
}
.project-tech {
  font-size: 60%;
}
.project-btn-container {
  gap: 5px;
}
.project-btn-container > div > svg, .project-btn-container > a > svg {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  padding: 3px;
}
.project-child {
  margin: 1rem 0px;
}
.blogs-card {
  width: 9rem;
  height: fit-content;
  margin: 0 0 0.5rem 0;
  padding-bottom: 1rem;
  border-radius: 2rem;
  min-height: 26rem;
}
.blogs-card > img {
  height: 150px;
  padding: 15px;
}
.blog-btn {    
  font-size: 10px;
  color: white;
  background-color: #0ba3c9;
  padding: 3px;
  align-items: center;
  justify-content: center;
  width: 40px;
}
.text-container :nth-child(4) {
  font-size: 65%;
}
.text-container :nth-child(3) {
  font-size: large;
}
.blogs-child {
  margin: 2rem 0.2rem 2rem 0.3rem;
  gap: 8px;
}
.blog-btns-container > div > svg {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  padding: 3px;
}
}
